/* ==================SEARCH FORM================== */
.search-form {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 8px 0;
  background-color: #3c518dfb;
  border-radius: 5px;
  text-align: center;
}

input[name='searchQuery'] {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button[type='submit'] {
  border: none;
  line-height: 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* ==================GALLERY================== */
.gallery {
  max-width: 1260px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__link {
  color: #000000;
  text-decoration: none;
}

.photo-card {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3);
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  display: block;
}

/* ==================LOAD-MORE BUTTON================== */
.load-more {
  padding: 10px 20px;
  display: none;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #3c518dfb;
}

.is-shown {
  display: block;
}
